@use "../../assets/styles/variables.module";
@use "../../assets/styles/global.module";

.pageWrapper {
  padding: 0.5rem 1rem;
}

.headerWrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.options {
  &Wrapper {
    display: flex;
    gap: variables.$base-gap;
    margin-top: variables.$base-gap;
    align-items: center;
    flex-wrap: wrap;
  }
  &GridWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: variables.$base-gap variables.$base-gap * 2;
    margin-top: variables.$base-gap;
    .singleInputWrapper {
      display: grid;
      grid-template-columns: 2fr 5fr;
    }
  }
}

.checksWrapper {
  display: flex;
  flex-direction: column;
  > :not(div:last-of-type, ul) {
    margin-bottom: variables.$base-gap;
  }
  ul:has(li) {
    margin-top: variables.$base-gap;
  }
}

.resultWrapper {
  display: flex;
  gap: variables.$base-gap;
  position: relative;
  margin-top: variables.$base-gap;
  .verticalWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: variables.$base-gap;
  }
  .imageWrapper {
    height: 300px;
    min-width: 400px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid variables.$light-border;
    border-radius: variables.$wrapper-radius;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEXv7+////9mUzfqAAAAFElEQVQIW2NksN/ISAz+f9CBGAwAxtEddZlnB4IAAAAASUVORK5CYII=);
    img {
      max-height: 300px;
      max-width: -webkit-fill-available;
      z-index: 2;
    }
  }
}

.jsonInputWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: variables.$base-gap;
}

.error {
  display: flex;
  align-items: center;
  color: variables.$red;
  font-size: 14px;
}

.results {
  th,
  td {
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  tr {
    &.added {
      background-color: variables.$green-light;
    }
    &.removed {
      background-color: variables.$red-light;
    }
    &.changed {
      background-color: variables.$yellow-light;
    }
  }
}

.hintWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.hint {
  display: block;
  font-size: 12px;
  color: variables.$gray;
}

.singleInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: variables.$base-gap;
}

.imageHeader {
  width: 400px;
  height: 20px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  overflow: hidden;
  span {
    white-space: nowrap;
    &:not(.hint) {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
