.pageWrapper {
  padding: 0 16px;
}

.optionsWrapper {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  align-items: center;
}

.checksWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resultWrapper {
  position: relative;
  margin-top: 8px;
  width: fit-content;
}
