.pageWrapper {
  padding: 0 16px;
}

.optionsWrapper {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  align-items: center;
}

.checksWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resultWrapper {
  display: flex;
  gap: 8px;
  position: relative;
  margin-top: 8px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
}

.jsonInputWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.error {
  display: flex;
  align-items: center;
  color: red;
}

.results {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  tr {
    &.added {
      background-color: #e6ffe6;
    }
    &.removed {
      background-color: #ffe6e6;
    }
    &.changed {
      background-color: #fff9e6;
    }
  }
}

.hintWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.hint {
  display: block;
  font-size: 14px;
  color: #777777;
}

.mt-8 {
  margin-top: 8px;
}

.mt-0 {
  margin-top: 0;
}
