.nav {
  padding: 10px;
  display: flex;
  gap: 16px;
}

.navLink {
  position: relative;
  color: #000000;
  text-decoration: none;
  &::before {
    content: "";
    display: inline-block;
    background-color: rgb(30, 30, 30);
    width: 0px;
    height: 100%;
    transform: translate(-8px, 4px);
    border-radius: 1px;
  }
  &:not(:nth-of-type(1)) {
    &::before {
      width: 2px;
    }
  }
  &::after {
    content: "";
    background-color: #0a58ca;
    width: 0;
  }
  &:hover {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -6px;
      left: 0%;
      border-radius: 1px;
      transition: all 0.5s;
    }
  }
}
