@use "../../assets/styles/variables.module";

.navigation {
  width: 250px;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: variables.$green-light;
  transition: width 0.2s;
  &Hidden {
    width: 80px !important;
  }
  &SwitchWrapper {
    padding: variables.$base-gap 0;
    button {
      margin-left: auto;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav {
  padding: 16px;
}

.navLink {
  width: 100%;
  height: 100%;
  padding: variables.$base-gap / 2 variables.$base-gap;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
  color: variables.$text;
  transition: all 0.2s;
  &:hover {
    color: variables.$white;
    background-color: variables.$green;
  }
  &Active {
    color: variables.$white;
    background-color: variables.$green;
  }
  svg {
    width: 24px;
    height: 24px;
    transition: all 0.2s;
    overflow: visible;
  }
  &Text {
    visibility: visible;
    text-wrap-mode: nowrap;
    overflow: hidden;
    transition:
      width,
      height 0.2s;
    &Hidden {
      width: 0;
      height: 0;
      visibility: hidden;
      transition:
        width,
        height 0.2s;
    }
  }
}

.wrapper {
  margin-top: variables.$base-gap;
  .options {
    width: fit-content;
    padding: 8px;
    background-color: variables.$wrapper-bg;
    border-radius: variables.$wrapper-radius;
    border-top-left-radius: 0;
    &Header {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px 8px;
      background-color: variables.$wrapper-bg;
      border-top-left-radius: variables.$wrapper-radius;
      border-top-right-radius: variables.$wrapper-radius;
      button {
        height: fit-content;
        padding: 4px;
        cursor: help;
      }
    }
  }
}

.timeWrapper {
  margin-left: auto;
  width: 164px;
  span {
    color: variables.$gray;
  }
  .wrapper {
    margin-top: 0;
    &:not(:first-of-type) {
      position: relative;
      margin-left: 24px;
    }
    .buttonsWrapper {
      display: flex;
      position: absolute;
      top: 20%;
      right: 30px;
      button {
        padding: 0 !important;
        height: 12px !important;
        svg {
          width: 12px !important;
        }
      }
    }
  }
}

.gap-0 {
  gap: 0;
}
