@use "variables.module";

*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(-90deg, #f3f4ff 0%, variables.$white 100%);
  padding: 0.5rem 1rem;
  color: variables.$text;
}

h1,
h2,
h3,
h4 {
  cursor: default;
}

h1 {
  font-size: 28px;
  margin-right: 16px;
}

h2 {
  font-size: 22px;
}

button,
input[type="text"],
input[type="number"] {
  height: 32px;
  border-radius: 6px;
  &:focus {
    outline-color: variables.$outline;
    outline-offset: 1px;
  }
  &:disabled {
    border-color: variables.$disabled-border;
    background-color: variables.$disabled-bg;
  }
}

button {
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
  li {
    display: block;
    margin-bottom: variables.$base-gap;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

table {
  width: auto;
  margin-top: variables.$base-gap;
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  &:first-child {
    th {
      &:first-child {
        border-top-left-radius: variables.$table-radius;
      }
      &:last-child {
        border-top-right-radius: variables.$table-radius;
      }
    }
  }
  &:last-child {
    td {
      &:first-child {
        border-bottom-left-radius: variables.$table-radius;
      }
      &:last-child {
        border-bottom-right-radius: variables.$table-radius;
      }
    }
  }
  &:not(:last-child) {
    td {
      border-bottom-style: solid;
      border-bottom: 1px solid variables.$gray-border;
    }
  }
  th {
    max-width: 30%;
    word-wrap: break-word;
    border-bottom-style: solid;
    border-bottom: 1px solid variables.$gray-border;
    &:not(:first-child) {
      border-left-style: solid;
      border-left: 1px solid variables.$gray-border;
    }
  }
  td {
    max-width: 30%;
    word-wrap: break-word;
    border: none;
    &:not(:first-child) {
      border-left-style: solid;
      border-left: 1px solid variables.$gray-border;
    }
  }
}

@each $mt in variables.$margins-top {
  .mt-#{$mt} {
    margin-top: $mt + px !important;
  }
}

.align-start {
  align-items: flex-start !important;
}
