// colors
$gray: #777777;
$gray-border: #8a8a8a;
$green: #4cba00;
$green-hover: #49b000;
$green-light: #e6ffe6;
$light-border: hsl(0, 0%, 80%);
$red: red;
$red-light: #ffe6e6;
$yellow-light: #fff9e6;
$white: #ffffff;

// sizes
$base-fs: 16px;
$small-fs: 12px;
$base-gap: 12px;
