// colors
$disabled-bg: hsl(0, 0%, 95%);
$disabled-border: hsl(0, 0%, 90%);
$disabled-btn: hsl(0, 0%, 80%);
$gray: #777777;
$gray-border: #cccccc;
$green: #4cba00;
$green-hover: #49b000;
$green-light: #e6ffe6;
$light-border: hsl(0, 0%, 80%);
$outline: #2684ff;
$red: red;
$red-light: #ffe6e6;
$text: #202020;
$yellow-light: #fff9e6;
$white: #ffffff;
$wrapper-bg: #f2f2f2;

// sizes
$base-fs: 16px;
$small-fs: 12px;
$base-gap: 12px;
$table-radius: 6px;
$wrapper-radius: 8px;
$margins-top: 0 6 12;

// fonts
$font-body: "Inter", sans-serif;
$font-textarea: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;

// time
$base-transition: 150ms;
