.select,
.datePicker {
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  max-height: 32px;
  &:hover {
    border-color: #8a8a8a;
  }
}

.datePicker {
  border: 1px solid hsl(0, 0%, 80%);
  height: 32px;
}

.btnPrimary,
.fileInputLabel {
  padding: 4px 8px;
  background-color: #4cba00;
  color: ghostwhite;
  font-size: 16px;
  &:hover {
    background-color: #49b000;
  }
}

.fileInputLabel {
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
}

.btnPrimary {
  &:disabled {
    background-color: #a9a9a9;
    cursor: not-allowed;
  }
}

.btnIcon {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background-color: transparent;
  color: rgb(70, 70, 70);
  &:hover {
    color: black;
  }
}

.btnControl {
  &:hover {
    background-color: hsl(0, 0%, 95%);
    border-radius: 6px;
  }
}

.textInput {
  width: 160px;
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 6px;
  &Label {
    align-items: center;
    font-size: 16px;
  }
}

.doubleInput {
  width: 180px;
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid hsl(0, 0%, 80%);
  cursor: text;
  &Wrapper {
    display: flex;
    gap: 8px;
  }
}

textarea {
  height: 250px;
  width: 100%;
  padding: 4px 8px;
  font-size: 12px;
  font-family: monospace;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 6px;
  resize: vertical;
}

.fileInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.check {
  gap: 8px;
  align-items: center;
  width: fit-content;
  input[type="checkbox"] {
    width: 14px;
    height: 14px;
  }
}
