@use "../../assets/styles/variables.module";
@use "../../assets/styles/global.module";

.select,
.datePicker {
  border-radius: 4px;
  cursor: pointer;
  font-size: variables.$base-fs;
  max-height: 32px;
  transition: border-color variables.$base-transition;
  &:hover {
    border-color: variables.$gray-border;
  }
}

.datePicker {
  border: 1px solid variables.$light-border;
  height: 32px;
}

.btnPrimary,
.fileInputLabel {
  padding: 4px 8px;
  background-color: variables.$green;
  color: ghostwhite;
  font-size: variables.$base-fs;
  transition: background-color variables.$base-transition;
  &:hover {
    background-color: variables.$green-hover;
  }
}

.fileInputLabel {
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  svg {
    margin-left: 8px;
  }
}

.btnPrimary {
  &:disabled {
    background-color: #a9a9a9;
    cursor: not-allowed;
  }
}

.btnIcon {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background-color: transparent;
  color: rgb(70, 70, 70);
  transition: color variables.$base-transition;
  &:hover {
    color: variables.$text;
  }
  &:disabled {
    background-color: transparent;
    color: variables.$disabled-btn;
  }
}

.btnControl {
  border-radius: 6px;
  transition: background-color variables.$base-transition;
  &:hover {
    background-color: variables.$disabled-bg;
  }
}

.textInput {
  width: 156px;
  padding: 4px 8px;
  font-size: variables.$base-fs;
  border: 1px solid variables.$light-border;
  border-radius: 6px;
  &Label {
    display: flex;
    align-items: center;
    font-size: variables.$base-fs;
  }
}

.doubleInput {
  width: 180px;
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid variables.$light-border;
  cursor: text;
  &Wrapper {
    display: flex;
    gap: variables.$base-gap;
  }
}

.singleInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

textarea {
  height: 250px;
  width: 100%;
  padding: 4px 8px;
  font-size: variables.$small-fs;
  font-family: variables.$font-textarea;
  border: 1px solid variables.$light-border;
  background: transparent;
  border-radius: 6px;
  resize: vertical;
  outline-color: variables.$light-border;
  transition: outline-color variables.$base-transition;
  &:focus {
    outline-color: variables.$outline;
  }
  &:read-only {
    cursor: not-allowed;
    outline: none;
  }
}

.fileInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.tooltip {
  font-size: variables.$small-fs !important;
  padding: 4px 8px !important;
  &::first-letter {
    text-transform: capitalize;
  }
}

.checkboxContainer {
  width: 32px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background variables.$base-transition;
  label {
    margin-right: 0;
  }
  .switchButton {
    background: variables.$white;
  }
  &:hover {
    background: none;
  }
}

.arrowsContainer {
  background: variables.$green;
  height: 32px;
  transition: background variables.$base-transition;
  label {
    margin-right: 8px;
  }
  &:hover {
    background: variables.$green-hover;
  }
}

.checkboxLabelText {
  position: absolute;
  padding-left: 40px;
  width: max-content;
}

.switchCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchLabel,
.arrowsLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 32px;
  height: 16px;
  background: #9e9e9e;
  border-radius: 8px;
  position: relative;
  transition: background-color 0.2s;
}

.switchLabel {
  .switchButton {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    transition: 0.2s;
    box-shadow: 0 0 2px 0 rgba(2, 2, 2, 0.3);
  }
  &:active {
    .switchButton {
      width: 32px;
    }
  }
}

.switchCheckbox:checked + .switchLabel {
  &:not(.arrowsLabel) {
    background: variables.$green;
  }
  .switchButton {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
}

.arrowsLabel {
  background: none;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/arrows-left-right.svg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-right: 0 !important;
  transition: transform 0.5s;
}

.arrowsCheckbox:checked ~ .arrowsLabel {
  transform: rotate(180deg);
}

.arrowsButton {
  display: none;
}
